.row {
    margin-left: 20px;
    color: #fff;


}

.posters {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px;
}

.poster {
    cursor: pointer;
    max-height: 250px;
    margin-right: 10px;
}

.poster:hover,
.smallPoster:hover {
    transform: scale(1.09);
}

.posters::-webkit-scrollbar {
    display: none;
}

.smallPoster {
    cursor: pointer;
    max-height: 150px;
    margin-right: 10px;
}