.row{
    margin-left: 20px;
    color: #fff;


}
.posters{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px;
}
.poster{
max-height: 250px;
margin-right: 10px;    
}
.posters::-webkit-scrollbar{
    display:none;
}
.smallPoster{
  max-height: 150px;
margin-right: 10px;    
}